<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blockcert Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.css" rel="stylesheet">

    <style>
      html, body {
        height: 100%;
      }
      body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      form {
        width: 100%;
        max-width: 900px;
        padding: 15px;
        margin: auto;
      }
      form .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      form .form-control:focus {
        z-index: 2;
      }
    </style>
  </head>
  <body class="text-center">
    <form action="." method="post" enctype="multipart/form-data">
      <h1>Blockcert Issuer</h1>
      <div class="form-group">
        <label for="issuer_name">Issuer name</label>
        <input id="issuer_name" class="form-control" type="text" name="issuer_name" value="Centre for Learning and Teaching in Higher Education (CLeaR), University of Auckland" required>
      </div>
      <div class="form-group">
        <label for="certificate_title">Certificate title</label>
        <input id="certificate_title" class="form-control" type="text" name="certificate_title" value="Teaching Catalyst Certificate of Completion" required>
      </div>
      <div class="form-group">
        <label for="criteria_narrative">Criteria/Narrative</label>
        <input id="criteria_narrative" class="form-control" type="text" name="criteria_narrative" value="Teaching Catalyst" required>
      </div>
      <div class="form-group">
        <label for="certificate_description">Certificate description</label>
        <textarea class="form-control" id="certificate_description" rows=10 name="certificate_description" required>The Teaching Catalyst programme introduces academic staff to learning and teaching practices and policies at the University of Auckland and is a key objective of academic continuation. The programme culminates in the creation of a teaching portfolio for their Academic Career Portfolio.</textarea>
      </div>
      <div class="form-group">
        <label for="issuer_logo_file">Issuer logo</label>
        <input type="file" class="form-control-file" id="issuer_logo_file" name="issuer_logo_file" accept="image/png">
        <img id='issuer_logo_file_preview' src="images/uoa-logo-200.png"/>
      </div>
      <div class="form-group">
        <label for="cert_image_file">Certificate image</label>
        <input type="file" class="form-control-file" id="cert_image_file" name="cert_image_file" accept="image/png">
        <img id='cert_image_file_preview' src="images/certificate-image.png"/>
      </div>
      <div class="form-group">
        <label for="roster">CSV file of participants</label>
        <input id="roster" class="form-control-file" type="file" name="roster" accept=".csv" style="text-align:center" aria-describedby="rosterHelp" required>
        <small id="rosterHelp" class="form-text text-muted">Formatted like: <br>
name,firstname,pubkey,identity<br>
Steve Leichtweis,Steve,UPI:slei184,s.leichtweis@auckland.ac.nz
        </small>
      </div>
      <div class="form-check" style="margin-bottom: 20px">
        <input class="form-check-input" type="checkbox" name="sendmail" id="sendmail">
        <label class="form-check-label" for="sendmail">
          Send emails? (assuming email is in the identity field)
        </label>
      </div>
      <div id="sendMailSection" style="display:none">
        <div class="form-group">
          <label for="sending_address">Sending address</label>
          <input id="sending_address" class="form-control" type="email" name="sending_address" value="blockcert@auckland.ac.nz" required>
        </div>
        <div class="form-group">
          <label for="sending_cc">CC</label>
          <input id="sending_cc" class="form-control" type="email" name="sending_cc" multiple title="Zero or more addresses, separated with ','">
        </div>
        <div class="form-group">
          <label for="sending_bcc">BCC</label>
          <input id="sending_bcc" class="form-control" type="email" name="sending_bcc" multiple title="Zero or more addresses, separated with ','">
        </div>
        <div class="form-group">
          <label for="sending_subject">Subject</label>
          <input id="sending_subject" class="form-control" type="text" name="sending_subject" value="Your new blockchain certificate" required>
        </div>
        <div class="form-group">
          <label for="sending_body">Email body</label>
          <textarea class="form-control" id="sending_body" rows=10 name="sending_body" required>Hello FIRSTNAME!<br><br>
ISSUER_NAME has issued you a certificate for CERTIFICATE_TITLE<br>
The description for this certificate is:<br>
CERTIFICATE_DESCRIPTION<br><br>
You can view it at VIEW_URL
          </textarea>
          <div id="sending_body_help" class="alert alert-success" role="alert">Email body looks good :)</div>
        </div>
      </div>
      <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.10/summernote-bs4.js"></script>
    <script>
      $("form").submit(function() {
        console.log("submit!");
        $("#submit").attr("disabled", true);
      });
      $("#sendmail").change(function() {
        $("#sendMailSection").toggle();
      });
      function validateEditor() {
        var markup = $("#sending_body").summernote("code");
        $("#submit").attr("disabled", true);
        $("#sending_body_help").attr("class", "alert alert-danger");
        if (markup == "") {
          $("#sending_body_help").text("Email body must not be empty!");
        } else if (markup.indexOf("VIEW_URL") === -1) {
          $("#sending_body_help").text("Email body must include VIEW_URL!");
        } else {
          $("#sending_body_help").text("Email body looks good :)");
          $("#sending_body_help").attr("class", "alert alert-success");
          $("#submit").attr("disabled", false);
        }
      }
      $('#sending_body').summernote({
        callbacks: {
          onKeyup: function() {
            validateEditor();
          },
          onPaste: function() {
            validateEditor();
          }
        }
      });

      $("#cert_image_file,#issuer_logo_file").change(function(event) {
        console.log(this, event);
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          var previewImg = "#" + this.id + "_preview";
          reader.onload = function (e) {
            console.log(e);
            $(previewImg).attr('src', e.target.result);
          }
          reader.readAsDataURL(this.files[0]);
        }
      });
    </script>
  </body>
</html>
